@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --mainColor: #5528FF;
}

ul {
  list-style-type: none;
}
h1,h2,h3,h4,h5{
  margin-bottom: 0px !important;
}
.ant-carousel ul{
  height: 8px !important;
}
.ant-carousel li{
  width: 8px !important;
  height: 8px !important;
  background: #D9D9D9 !important;
  border-radius: 50% !important;
}
.ant-carousel li button{
  width: 8px !important;
  height: 8px !important;
  background: #5528FF !important;
  border-radius: 50% !important;
}

.am-carousel .slider-decorator-0{
  bottom: -40px !important;
}

@media screen and (max-width: 375px) {
  .am-carousel .slider-list {
    margin-left: -16% !important;
  }
}

@media screen and (min-width:500px) and (max-width:768px){
  .am-carousel .slider-list {
    margin-left: -34% !important;
  }
}