.banner {
  height: 37.5rem;
  background-image: url('./../images/homeBanner.png');
}

.bannerContainer {
  top: 125px;
  left: 190px;
}

.bannerContainer h1 {
  width: 57.25rem;
  height: 13rem;
  /* font-size: 5.5rem;
  line-height: 6.5rem; */
}

.bannerContainer h3 {
  width: 816px;
  height: 96px;
  line-height: 22px;
  font-weight: 300;
}

.playIcon {
  font-size: 18px;
  vertical-align: baseline;
}

.leftButton {
  width: 155px;
  height: 40px;
}
.rightButton {
  width: 152px;
  height: 40px;
}