.playIcon {
  margin-left: 0.5625rem;
  font-size: 1.125rem;
  vertical-align: baseline;
}

.marginAuto {
  margin: 0 auto;
}

.textOverflow {
  overflow: hidden;  
  text-overflow: ellipsis;  
  display: -webkit-box;  
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical; 
}
